{% extends "base.html" %} 
    {% block title %}Dashboard{% endblock %} 

    {% block content %}
        <link rel="stylesheet" href="static/dashboardStyle.css">
        <header class="header">
            <div class="header-text">Welcome, {{ user.first_name }}!</div>
        </header>
        <main>
            <div class="container">
                {% if user.membership_level == "Free" and user.free_blogs_remaining == 1%}
                    <div class="free-subscription-container">
                        <p align="center">You can currently create one free blog. To create more, upgrade your membership.</p>
                        <a href="/upgradeMembership">
                            <button type="submit" id="membership" class="membership" name="membership">Upgrade Membership</button>
                        </a>
                    </div>
                {% elif  user.membership_level == "Free" %}
                    <div class="free-subscription-container">
                        <p align="center">You are out of free blogs. To create more, upgrade your membership.</p>
                        <a href="/upgradeMembership">
                            <button type="submit" id="membership" class="membership" name="membership">Upgrade Membership</button>
                        </a>
                    </div>
                {% endif %}
                <div class="info-container">
                    <div class="blog-container">
                        <div class="border-container">
                            <p>Blog Hub</p>
                        </div>
                        <div id="blog-info-container">
                            <div class="blogs-remaining-container" id="remaining-blogs">
                                {% if user.membership_level != "Free" %}
                                    <p>Blogs remaining this month: {{ user.blogs_remaining_this_month }}</p>
                                {% else %}
                                    <p>Free Blogs remaining this month: {{ user.free_blogs_remaining }}</p>
                                {% endif %}
                            </div>
                            <div class="prepublished-blogs-container">
                                <p>Blogs:</p>

                            </div>
                            {% for blog in user.blogs %}
                                <div id="prepublished-blogs" class="prepublished-blogs-info-container">
                                    <div class="blog-title-topic-info">
                                        <div class="blog-title">Title: {{ blog.blog_title }}</div>
                                    </div>
                                    <div class="publish-date-contianer">
                                        <div class="blog-publish-date">Publish Date: {{ blog.publish_date }} <div class="green"></div> </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                    <div class="blog-container" id="membership-container">
                        <div class="border-container">
                            <p>Membership Hub</p>
                        </div>
                        <div class="blogs-remaining-container" id="membership-info-container">
                            <p>Current Membership Level: {{ user.membership_level }}</p>
                        </div>
                        {% if user.membership_level == "Free" %}
                        <div class="membership-upgrade-container">
                            <a href="/upgradeMembership">
                                <button type="submit" id="membership" class="membership" name="membership">Upgrade Membership</button>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
    