{% extends "base.html" %} 
    {% block title %}Dashboard{% endblock %} 

    {% block content %}
        <link rel="stylesheet" href="static/dashboardStyle.css">
        <header class="header">
            <div class="header-text">Welcome, {{ user.first_name }}!</div>
        </header>
        <main>
            <div class="container">
                {% if user.membership_level == "Free" and user.free_blogs_remaining == 1%}
                    <div class="free-subscription-container">
                        <p align="center">You can currently create one free blog. To create more, upgrade your membership.</p>
                        <a href="/upgradeMembership">
                            <button type="submit" id="membership" class="membership" name="membership">Upgrade Membership</button>
                        </a>
                    </div>
                {% else %}
                    <div class="free-subscription-container">
                        <p align="center">You are out of free blogs. To create more, upgrade your membership.</p>
                        <a href="/upgradeMembership">
                            <button type="submit" id="membership" class="membership" name="membership">Upgrade Membership</button>
                        </a>
                    </div>
                {% endif %}
                <div class="info-container">
                    <div class="blog-container">
                        <div class="border-container">
                            <p>Blog Hub</p>
                        </div>
                        <div class="blogs-remaining-container">
                            <p>Blogs remaining this month: {{1}}</p>
                        </div>
                        <div class="prepublished-blogs-container">
                            <p>Prepublished Blogs:</p>
                        </div>
                        <div class="prepublished-blogs-info-container">
                            <div class="blog-title-topic-info">
                                <div class="blog-title">Title: Why you should throw away recyclables</div>
                            </div>
                            <div class="publish-date-contianer">
                                <div class="blog-publish-date">Publish Date: 2023-07-24 <div class="green"></div> </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-container" id="membership-container">
                        <div class="border-container">
                            <p>Membership Hub</p>
                        </div>
                        <div class="blogs-remaining-container">
                            <p>Current Membership Level: {{ user.membership_level }}</p>
                        </div>
                        <div class="membership-upgrade-container">
                            <a href="/upgradeMembership">
                                <button type="submit" id="membership" class="membership" name="membership">Upgrade Membership</button>
                            </a>
                            {{ subscription_id }}
                        </div>
                    </div>
                </div>
            </div>
        </main>
    {% endblock %}
    