{% extends "base.html" %} {% block title %}Generate Blog{% endblock %} {% block
    content %}
    <link rel="stylesheet" href="static/generateBlogStyle.css">
    <div class="container">
        <div class="form-container">
          <!-- {% if user.free_blogs_remaining == 1 or user.blogs_remaining_this_month > 0 %} -->
            <form method="POST" >
                <h2 align="center">Create Blog</h3>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="blog-title"
                    name="blog-title"
                    placeholder="Enter Blog Title"
                    required
                  />
                </div>
                <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="blog-topic"
                      name="blog-topic"
                      placeholder="Enter Blog Topic"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="emulation-text"
                      name="emulation-text"
                      placeholder="Enter Emulation Text"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="keywords"
                      name="keywords"
                      placeholder="Enter Keywords"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="links"
                      name="links"
                      placeholder="Enter Links"
                    />
                  </div>
                  <div class="form-group">
                    <select required name="length" id="length" id="length" oninput="setCustomValidity('')" oninvalid="setCustomValidity('Select Blog Length')">
                    <option value="" disabled selected>Blog Length</option>
                      <option value="short">Short</option>
                      <option value="medium">Medium</option>
                      <option value="long">Long</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="publish-date"
                      name="publish-date"
                      placeholder="Enter Publish Date (Year-Month-Day)"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <input type="file" name="file" class="file" id="file" accept="image/png">
                    <label align="center" for="file">Choose a Preview Image</label>
                  </div>
                <br />
                  <button type="submit" class="btn btn-primary">Create Blog</button>
              </form>
              <!-- {% else %}
              <form action="/upgradeMembership" method="POST">
                <button type="submit" class="btn btn-primary">Upgrade Membership for More Blogs</button>
              </form>
              {% endif %} -->
              <!-- <div class="generated-content-editor" id="generated-blog-content">
                <form action="POST">
                  <div class="title-container">
                      <p>Title: <p contenteditable="true">{{title}}</p> </p>
                  </div>
                  <div class="blog-content-generator">
                      <p>Content: <p contenteditable="true" class="content-container">{{content}}</p> </p>
                  </div>
                </form>
              </div> -->
        </div>
    </div>
{% endblock %}