<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/homeStyle.css">
    <title>{% block title %}Welcom{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/sign-up" class="nav-link" id="home">
                <div class="container">
                    <p class="creds" id="sign-up">Sign Up</p>
                </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" id="message">
                <div class="container">
                    <p class="creds" id="sign-in">Sign In</p>
                </div>
            </a>
          </li>
        </ul>
    </nav>
    <main>
      {% block content %}base{% endblock %}
    </main>
</body>
</html>
