{% extends "base.html" %} 
    {% block title %}Upgrade Membership{% endblock %} 

    {% block content %}
    <link rel="stylesheet" href="static/upgradeMembershipStyle.css">
    <main>
        <div class="membership-tier-container">
            <div class="option-container">
                <div class="container-title">
                    <p align="center">Good</p>
                </div>
                <ul>
                    <li>
                        <p>1 Blog per Month</p>
                    </li>
                    <li>
                        <p>$10.00/month</p>
                    </li>
                </ul>
                <a href="" class="button-to-stripe">
                    <button class="upgrade-membership-button">Upgrade to Good Subscription</button>
                </a>
            </div>
            <div class="option-container">
                <div class="container-title">
                    <p align="center">Better</p>
                </div>
                <ul>
                    <li>
                        <p>2 Blogs per Month</p>
                        <li>
                            <p>$20.00/month</p>
                        </li>
                    </li>
                </ul>
                <a href="" class="button-to-stripe">
                    <button class="upgrade-membership-button">Upgrade to Better Subscription</button>
                </a>
            </div>
            <div class="option-container" id="best-option">
                <div class="container-title">
                    <p align="center">Best</p>
                </div>
                <ul>
                    <li>
                        <p>4 Blogs per Month</p>
                    </li>
                    <li>
                        <p>$30.00/month</p>
                    </li>
                </ul>
                <a href="" class="button-to-stripe">
                    <button class="upgrade-membership-button">Upgrade to Best Subscription</button>
                </a>
            </div>

        </div>
    </main>
    {% endblock %}