<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/homeStyle.css">
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar" id="navbar">
      <a href="/" id="logo"><div class="brand-title">AutoBlog</div></a>

      <a href="#" class="toggle-button" id="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
      </a>

      <div class="navbar-links">
          <ul>
            {% if user.email %}
            <li>
              <a href="/profile">Profile</a>
            </li>
            <li>
              <a href="/generate-blog">Create</a>
            </li>
            {% else %}
            <li>
              <a href="/">Home</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            {% endif %}
            <li>
              {% if user.email %}
                <a href="/logout">Log out</a>
              {% else %}
              <a href="/sign-up">Join</a>
              {% endif %}
            </li>
          </ul>
      </div>
  </nav>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="error" id="error">
      {{ message }}
      <button type="button" class="close" id="close-error">
        <span class="x">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="success" id="success">
      {{ message }}
      <button type="button" class="close" id="close-success">
        <span class="x">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    
    {% block content %}{%endblock%}
    <script src="static/script.js"></script>

    <script>
      var errorCloseButton = document.getElementById("close-error");
      var error = document.getElementById("error");

      errorCloseButton.addEventListener("click", function () {
        error.style.display = "none";
      });
    </script>

    <script>
      var successCloseButton = document.getElementById("close-success");
      var success = document.getElementById("success");

      successCloseButton.addEventListener("click", function () {
        success.style.display = "none";
      });

    </script>
</body>
</html>
