{% extends "base.html" %} {% block title %}Change Password{% endblock %}
 {% block content%}
    <link rel="stylesheet" href="static/changeEmailStyle.css">
    <main>
      <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <h3 align="center">Enter email</h3>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
            required
          />
        </div>
        <br />
        <button type="submit" class="button">Change Email</button>
      </form>
      </main>
    {% endblock %}
    