{% extends "base.html" %} {% block title %}Change Password{% endblock %}
 {% block content%}
    <link rel="stylesheet" href="static/changePasswordStyle.css">
    <main>
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <h3 align="center">Change Password</h3>
            <div class="form-group">
            <input
                type="password"
                class="form-control"
                id="current-password"
                name="current-password"
                placeholder="Enter current password"
                required
            />
            <input
                type="password"
                class="form-control"
                id="new-password"
                name="new-password"
                placeholder="Enter new password"
                required
            />
            <input
                type="password"
                class="form-control"
                id="new-password-confirm"
                name="new-password-confirm"
                placeholder="Confirm new password"
                required
            />
            </div>
            <br />
            <button type="submit" class="button">Change Password</button>
        </form>

      </main>
    {% endblock %}
    