{% extends "base.html" %} {% block title %}Generate Blog{% endblock %} {% block
    content %}
    <link rel="stylesheet" href="static/generateBlogStyle.css">
    <main>
    {% if content == '' %}
    <form method="post" name="generate">
        <h2 align="center">Generate Blog</h3>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="blog-title"
            name="blog-title"
            placeholder="Enter Blog Title"
            required
          />
        </div>
        <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="additional-info"
              name="additional-info"
              placeholder="Enter Keywords, Links, or Other Info"
            />
          </div>
        <br />
          <button type="submit" class="btn btn-primary">Generate Blog</button>
      </form>
      {% else %}
          {% if wants_to_link_wordpress and user.website_url == '' %}
            <form method="post" id="link-wordpress" name="link-wordpress">
              <h2 align="center">Link to WordPress Website</h3>
              <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    id="websiteURL"
                    name="websiteURL"
                    placeholder="Enter website URL"
                />
                </div>
                <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    id="wordPressUsername"
                    name="wordPressUsername"
                    placeholder="Enter Username for Wordpress Website"
                />
                </div>
                <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    id="appPassword1"
                    name="appPassword1"
                    placeholder="Enter application password"
                />
                </div>
                <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    id="appPassword2"
                    name="appPassword2"
                    placeholder="Confirm application password"
                />
                </div>
            </div>
              <br />
                <button type="submit" class="btn btn-primary">Link to WordPress</button>
            </form>
          {% endif %}
      <form method="post" id="generated-content" name="generated">
        <h2 align="center">Generated Content</h3>
        <div class="generated-content-container" id="generated" name="generated-content" contenteditable>
          {{content | safe}}
        </div>
        <input type="hidden" name="div_content" id="divContentInput">
        <br />
          <button type="submit" class="btn btn-primary">Publish to WordPress</button>
      </form>
    {% endif %}
      </main>
        
{% endblock %}

