{% extends "base.html" %} {% block title %}Generate Blog{% endblock %} {% block
    content %}
    <link rel="stylesheet" href="static/generateBlogStyle.css">
    <main>
      {% if user.blogs_remaining_this_month > 0 or user.free_blogs_remaining > 0 %}
              <form method="POST" >
                  <h2 align="center">Generate Blog</h3>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      id="blog-title"
                      name="blog-title"
                      placeholder="Enter Blog Title"
                      required
                    />
                  </div>
                  <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        id="additional-info"
                        name="additional-info"
                        placeholder="Enter Keywords, Links, or Other Info"
                      />
                    </div>
                  <br />
                    <button type="submit" class="btn btn-primary">Generate Blog</button>
                </form>
      {% else %}
        <form method="POST" action="/upgradeMembership">
            <button type="submit" class="btn btn-primary">Upgrade Membership for More Blogs</button>
        </form>
      {% endif %}
      </main>
        
{% endblock %}

