{% extends "base.html" %} 
{% block title %}Profile{% endblock %} 


{% block content%}
<link rel="stylesheet" href="static/profileStyle.css">
<main>
    <div class="profile-container">
        <div class="info-container">
            <p>Current Membership Level: {{user.membership_level}}</p>
            <a href="/upgradeMembership">Upgrade</a>
            <a href="/upgradeMembership">Cancel</a>
        </div>
        <div class="info-container">
            <p>Blogs Remaining: {{user.free_blogs_remaining + user.blogs_remaining_this_month}}</p>
        </div>        
    </div>
</main>
{% endblock %}