{% extends "base.html" %} 
    {% block title %}Upgrade Membership{% endblock %} 

    {% block content %}
    <link rel="stylesheet" href="static/upgradeMembershipStyle.css">
    <main>
        <div class="membership-tier-container">






            {% if user.membership_level != 'Free' %}
            <div class="option-container">
                <div class="container-title">
                    <h4 align="center">Cancel Membership</h4>
                </div>
                    <form action="/cancelMembership" method="POST">
                        <button class="upgrade-membership-button" type="submit">Cancel</button>
                    </form>
            </div>
            {% endif %}
            <div class="option-container">
                <div class="container-title">
                    <h4 align="center">Good</h4>
                </div>
                    <p>1 Blog per Month</p>
                    <p>$10.00/month</p>
                    <form action="/create-checkout-session" method="POST">
                        <input type="hidden" name="priceId" value="price_1NVkZ2FO0g9fOIaC9ebXmyEc" />
                        {% if user.membership_level == 'Good' %}
                            <button class="upgrade-membership-button" type="submit" disabled>Current Membership</button>
                        {% else %}
                            <button class="upgrade-membership-button" type="submit">Upgrade to Good Subscription</button>
                        {% endif %}
                    </form>
            </div>
            <div class="option-container">
                <div class="container-title">
                    <h4 align="center">Better</h4>
                </div>
                <p>2 Blogs per Month</p>
                <p>$20.00/month</p>
                <form action="/create-checkout-session" method="POST">
                    <input type="hidden" name="priceId" value="price_1NVkaOFO0g9fOIaCCekM3Xwd" />
                    {% if user.membership_level == 'Better' %}
                        <button class="upgrade-membership-button" type="submit" disabled>Current Membership</button>
                    {% else %}
                        <button class="upgrade-membership-button" type="submit">Upgrade to Better Subscription</button>
                    {% endif %}
                </form>
            </div>
            <div class="option-container" id="best-option">
                <div class="container-title">
                    <h4 align="center">Best</h4>
                </div>
                <p>4 Blogs per Month</p>
                <p>$30.00/month</p>
                <form action="/create-checkout-session" method="POST">
                    <input type="hidden" name="priceId" value="price_1NVkbcFO0g9fOIaCqhrjKbhg" />
                    {% if user.membership_level == 'Best' %}
                    <button class="upgrade-membership-button" type="submit" disabled>Current Membership</button>
                    {% else %}
                    <button class="upgrade-membership-button" type="submit">Upgrade to Best Subscription</button>
                    {% endif %}
                </form>
            </div>

        </div>
    </main>
    {% endblock %}