main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
   align-self: center;
   border: 2px solid gray;
   border-radius: 10px;
   width: 500px;
   height: 100px;
   transition: box-shadow 0.3s;
}

.title:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.blog-input{
    margin-top: -10px;
    margin-left: 20%;
    border: 1px solid lightgray;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    transition: box-shadow 0.3s;
}
#example-content-input{
    margin-left: 16%;
}

#example-content-button{
    width: 100px
}

.blog-input:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header{
    font-family: 'Arial';
    font-size: x-large;
    margin-left: 10px;
    margin-top: 10px;
}

.submit-button{
    border: 1px solid lightgray;
    height: 35px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: limegreen;
    transition: box-shadow 0.3s;

}

.submit-button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#example-content-container{
    height: 230px;
}

#example-content{
    margin-left: 22px;
    font-family: 'Arial';
    width: 450px;
    height: 120px;
    resize: none;
    transition: box-shadow 0.3s;
    border-radius: 8px;

}

#example-content:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#example-content-button{
    margin-left: 78.5%; 
}
