:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }

  main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0; 
    overflow: auto;
  }

  .header{
    display: flex;
    align-items: center;
    margin: 0; 
    top: 0; 
    left: 0;
    background-color: var(--bg-primary);
    width: 100vw;
    height: 5rem;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  }

  .header-text{
    margin-left: 20px; 
    color: var(--text-primary);
    font-size: 20px;
  }

  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .free-subscription-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: 1px solid black;
    padding: 5px; 
    border-radius: 100px;
    transition: box-shadow 0.3s;
    width: calc(100vw - 2rem); 
    margin-top: 5px; 
  }

  .free-subscription-container:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  }

  .free-subscription-container p{
    margin: 5px;
  }

  .free-subscription-container a button{
    background-color: var(--bg-primary);
    border-radius: 100px;
    color: var(--text-primary);
    transition: box-shadow 0.3s;
    transition: color 0.3s;
    cursor: pointer;
  }

  .free-subscription-container a button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .3); 
    color: white;
  }


  .info-container{
    display: flex;
    flex-direction: column;
  }
  .border-container{
    border-bottom: 1px solid black;
  }
  .blog-container{
    margin: 10px; 
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    width: calc(100vw - 2rem); 
    margin-left: 10px;
  }

  .blog-container p{
    margin-left: 10px; 
  }

  .prepublished-blogs-container{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  .prepublished-blogs-info-container{
    display: flex;
    flex-direction: row;
  }

  .blog-title-topic-info{
    width: 150px;
  }

  .blog-title{
    padding: 10px;
    border-right: 1px solid black;  
  }

  .blog-publish-date{
    padding: 5px;
    display: flex;
    align-items: center;
  }

  .green{
    margin-left: 2px; 
    background-color: green;
    width: 10px; 
    height: 10px;
    border-radius: 20px;
  }

  .membership-upgrade-container{
    padding: 10px; 
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .membership-upgrade-container button{
    background-color: var(--bg-primary);
    border-radius: 100px;
    color: var(--text-primary);
    transition: box-shadow 0.3s;
    transition: color 0.3s;
    cursor: pointer;
    padding: 5px; 
  }

  .membership-upgrade-container button:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, .3); 
    color: white;
  }


  @media only screen and (min-width: 1024px){
    .free-subscription-container{
        width: 700px;
    }
    main{
        width: calc(100vw - 5rem);
    }

    .info-container{
        width: calc(100vw - 5rem); 
        flex-direction: row;
    }
  }


