:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }
  
  main {
    margin-bottom: 5rem;
    padding: 1rem;
  }

  .navbar{
    width: 100vw;
    height: 5rem;
    position: fixed;
    background-color: var(--bg-primary);
    bottom: 0;
    left: 0;
  }

  .navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .navbar-item{
    width: 100%;
  }
  svg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    filter: grayscale(100%) opacity(0.5);
    transition: var(--transition-speed);
  }

  svg:hover{
    filter: grayscale(0%) opacity(1);
  }

  .nav-item:last-child{
    margin-top: auto;
  }
  

  @media only screen and (min-width: 1024px){
    main{
        margin-bottom: 0;
        margin-top: 5rem;
    }
    .navbar{
        top: 0;
        justify-content: space-around;
    }
  }

