main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form{
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 80%;
  border-radius: 10px;
  padding: 1rem;
}

.generated-content-container
{
  height: 50%;
}

.form-group{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0.25rem;
}

input{
  padding: 0.5rem; 
  font-family: 'Poppins', sans-serif;
  border: 1px solid rgb(161, 161, 161);
}

input:focus{
  border: 1px solid black;
  outline: none;
}

.button{
  width: 80%;
  height: 30px;
  background-color: #458eff;
  margin-bottom: 1rem;
  border-radius: 10px;
  border: 0px;
  color: white;
  margin-bottom: 10px;
}

#no-thanks{
  height: 30px;
}

.button:disabled:hover{
  background-color: #458eff;
  cursor: default;
}


p{
  font-size: 14px;
}

p a{
  color: #458eff;
  text-decoration: none;
}

.button:hover{
  background-color: #2864b9;
  cursor: pointer;
}



#no-thanks{
  display: flex;
  align-items: center;
  background-color: rgb(197, 195, 195);
}

#no-thanks-button{
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(197, 195, 195);
  cursor: pointer;
}

#no-thanks-button:hover{
  background-color: gray;
  cursor: pointer;
}

#no-thanks:hover{
  background-color: gray;
  cursor: pointer;
}

@media (min-width: 1000px){
  form{
    width: 400px;
  }

  #generated-content{
    width: 800px;
  }
}