* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white; 
  border-bottom: 1px solid gray;
}

.brand-title{
  font-size: 1.5rem;
  margin: 1rem;
  margin-left: 2rem;
}

.navbar-links ul{
margin: 0;
padding: 0;
display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  border-radius: 10px;
  background-color: #252b37;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.error{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
  background-color: rgba(255, 135, 135);
}

.success{
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
  background-color: rgb(135, 255, 143);
}

.close{
  width: 30px;
  height: 30px;
  border-radius: 5px; 
  border: 1px solid black;
}

#close-error{
  background-color: rgba(255, 135, 135);
  transition: box-shadow 0.3s;
}

#close-error:hover{
  background-color: gainsboro;
  box-shadow: 0 0 10px rgba(0, 0, 0)
}

#close-success{
  background-color: rgb(135, 255, 143);
  transition: box-shadow 0.3s;
}

#close-success:hover{
  background-color: gainsboro;
  box-shadow: 0 0 10px rgba(0, 0, 0)
}



@media (max-width: 400px){
  .toggle-button{
      display: flex;
  }
  
  .navbar-links{
      display: none;
      width: 100%;
  }

  .navbar{
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-links ul{
      width: 100%;
      flex-direction: column;

  }

  .navbar-links li{
  text-align: center;
  }

  .navbar-links li a {
      padding: .5rem 1rem;
  }

  .navbar-links li a:hover {
      border-radius: 0;
  }

  .navbar-links.active{
      display: flex;
  }
}