
h4{
  font-family: 'Poppins', sans-serif;
}

li{
  list-style: none;
}



.membership-tier-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  width: 50%;
  margin: 10px;
  border-radius: 10px;
  transition: scale 0.3s;

}

.option-container:hover{
  scale: 1.05;

}

.option-container p{
  font-family: 'Poppins', sans-serif;
  margin: 10px;
}

.option-container form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 10px;
}

.option-container button{
    width: 80%;
    height: 30px;
    background-color: #458eff;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 0px;
    color: white;
}

.option-container button:hover{
  background-color: #2864b9;
}

